<template>
  <section class="container">
    <div class="my-8">
      <logo />
      <h1 class="title">Minesweeper</h1>
      <form class="mt-8" action="#">
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/5">
            <label
              class="block text-grey-darker font-bold md:text-right mb-1 md:mb-0 pr-4"
              for="level"
              >Level</label
            >
          </div>
          <div class="md:w-2/5 p-2 relative">
            <select
              id="level"
              class="appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-2 px-2 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
              name="level"
              @change="changeLevel($event.target.value)"
            >
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
              <option value="expert">Expert</option>
            </select>
            <div
              class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="md:w-2/5">
            <input id="toggle" v-model="show" type="checkbox" name="toggle" />
            <label for="toggle">Toggle</label>
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="w-full">
            <button
              class="bg-purple hover:bg-purple-dark text-white font-bold py-2 px-4 rounded"
              @click.prevent="newGame()"
            >
              New Game
            </button>
          </div>
        </div>
      </form>
      <p>{{ message }}</p>
      <div class="inline-block">
        <div v-for="(row, index) in cells" :key="index" class="flex">
          <div
            v-for="(cell, key) in row"
            :key="key"
            class="cell flex justify-center items-center font-bold text-3xl"
            :class="['cell-' + (cell.mine && show ? 'mine' : cell.state)]"
            :data-around="!cell.mine ? cell.around || '' : ''"
            @click="cellClick($event, cell)"
            @contextmenu.prevent="cellFlag($event, cell)"
          ></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data() {
    return {
      rows: 6,
      cols: 6,
      cells: [],
      mines: 6,
      show: false,
      message: 'start',
      finished: false
    }
  },
  mounted() {
    this.newGame()
  },
  methods: {
    random(max) {
      return Math.floor(Math.random() * max)
    },
    map(x, y, callback) {
      const vectors = [
        [-1, 0],
        [-1, -1],
        [0, -1],
        [1, -1],
        [1, 0],
        [1, 1],
        [0, 1],
        [-1, 1]
      ]
      for (const vector of vectors) {
        const dX = x + vector[0]
        const dY = y + vector[1]
        if (dX >= 0 && dY >= 0 && dX < this.cols && dY < this.rows) {
          callback(this.cells[dY][dX])
        }
      }
    },
    populate() {
      let mines = 0
      while (mines < this.mines) {
        const row = this.random(this.rows)
        const col = this.random(this.cols)
        const cell = this.cells[row][col]
        if (!cell.mine) {
          cell.mine = true
          mines++
        }
      }
    },
    calculate() {
      for (let row = 0; row < this.rows; row++) {
        for (let col = 0; col < this.cols; col++) {
          this.map(col, row, cell => {
            if (cell.mine) {
              this.cells[row][col].around++
            }
          })
        }
      }
    },
    propagate(cell) {
      cell.state = 'open'
      this.map(cell.col, cell.row, cell => {
        if (cell.state === 'default' && cell.around === 0) {
          this.propagate(cell)
          return
        }
        cell.state = 'open'
      })
    },
    won() {
      for (const cellsRow of this.cells) {
        for (const cell of cellsRow) {
          if (cell.state === 'default') return false
        }
      }

      return true
    },
    cellClick(event, cell) {
      if (this.finished || cell.state !== 'default') return

      if (cell.mine) {
        this.show = true
        this.message = 'You lose'
        this.finished = true
        return
      }

      if (cell.state === 'default') cell.state = 'open'

      if (this.won()) {
        this.show = true
        this.message = 'You win'
        this.finished = true
        return
      }

      if (cell.around === 0) this.propagate(cell)
    },
    cellFlag(event, cell) {
      if (this.finished) return
      if (cell.state === 'default') cell.state = 'flag'
      else if (cell.state === 'flag') cell.state = 'default'

      if (this.won()) {
        this.show = true
        this.message = 'You win'
        this.finished = true
      }
    },
    newGame() {
      this.cells = []
      for (let row = 0; row < this.rows; row++) {
        const cellsRow = []
        for (let col = 0; col < this.cols; col++) {
          cellsRow.push({
            row,
            col,
            mine: false,
            state: 'default',
            around: 0
          })
        }
        this.cells.push(cellsRow)
      }

      this.populate()
      this.calculate()
      this.finished = false
      this.show = false
      this.message = 'start'
    },
    changeLevel(level) {
      if (level === 'easy') {
        this.rows = 6
        this.cols = 6
        this.mines = 6
      } else if (level === 'medium') {
        this.rows = 9
        this.cols = 9
        this.mines = 14
      } else if (level === 'hard') {
        this.rows = 18
        this.cols = 18
        this.mines = 32
      } else if (level === 'expert') {
        this.rows = 24
        this.cols = 24
        this.mines = 48
      }

      this.newGame()
    }
  }
}
</script>

<style lang="postcss" scoped>
.container {
  @apply min-h-screen flex justify-center items-start text-center mx-auto;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 4rem;
  color: #35495e;
  letter-spacing: 0.0625rem;
}

.cell {
  @apply border cursor-pointer;
  width: 3rem;
  height: 3rem;
  margin-bottom: -3px;
}

.cell-default {
  @apply bg-blue;
}

.cell-open {
  @apply bg-green;
}

.cell-open::after {
  content: attr(data-around);
}

.cell-mine {
  @apply bg-red;
}

.cell-mine::after {
  content: '💣';
}

.cell-flag {
  @apply bg-blue;
}

.cell-flag::after {
  content: '⚐';
}
</style>
